.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.text-align-center {
    text-align: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

:root {
    --main: #b1b493;
    --black: #000;
    --light-black: rgb(59, 56, 56);
    --white: #fff;
    --dark-white: whitesmoke;
    --section-1: #999;
    --color-1: #f8f9fa;
    --section-2: #b1b493;
    --footer: #232931;
}

.section-title-span {
    font-size: 13px;
    font-weight: 700;
    color: var(--main);
    letter-spacing: 3px;
}

.section-title-h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 24px;
    padding-top: 10px;
}

.section-title-p {
    color: var(--section-1);
    font-size: 16px;
}

.padding-bottom {
    padding-bottom: 15px;
}