/* header section start */

#header {
    background-image: url(../img/header-slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
}

.name-logo img {
    width: 205px;
    padding-top: 7px;
}

.menu li {
    padding-right: 25px;
}

.menu a {
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
}

.menu li:hover a {
    opacity: 0.5;
}

.navbar-main-content {
    position: absolute;
    top: 31%;
    left: 12%;
}

.navbar-main-content span {
    color: var(--main);
    font-size: 35px;
}

.navbar-main-content h1 {
    font-size: 55px;
    color: var(--black);
    line-height: 1.2;
    padding: 10px 0px;
}

.navbar-main-content .hire {
    background-color: var(--main);
    border: 1px solid var(--main);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: .375rem .75rem;
}

.navbar-main-content .download {
    background-color: transparent;
    border: 1px solid var(--main);
    border-radius: 5px;
    color: rgb(75, 67, 67);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: .375rem .75rem;
}

.navbar-main-content .download:hover {
    background-color: var(--main);
    color: var(--white);
}

svg {
    position: absolute;
    bottom: 0px;
}

polygon {
    fill: var(--white);
}

/* header section end */

/* statistics section start */

#statistics {
    background-color: var(--section-1);
    padding: 20px 0px;
}

.details {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 50px 0px;
}

.detail-content {
    padding-left: 20px;
    line-height: 40px;
}

.detail-content h2 {
    font-size: 35px;
    font-weight: 700;
}

.detail-content span {
    font-weight: 600;
    color: var(--main);
    text-transform: uppercase;
}

.icon i {
    border: 1px;
    background-color: var(--main);
    border-radius: 50%;
    padding: 23px 26px;
    color: white;
}

/* statistics section end */

/* about section start */

#about {
    padding: 80px 0px;
}

.about-contents {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.about-picture img {
    background-size: cover;
    height: 600px;
    box-shadow: -20px 20px 69px -27px rgb(0 0 0 / 33%);
}

.about-text .span-title {
    font-size: 17px;
    font-weight: 700;
    color: var(--main);
}

.about-text h2 {
    font-size: 34px;    
    font-weight: 600;
    padding-top: 15px;
}

.about-text p {
    color: var(--light-black);
    margin: 20px 0px;
    font-size: 21px;
    letter-spacing: 1px;
    padding-right: 20px;
}

.about-text .span-heading {
    font-size: 18px;
    font-weight: 600;
}

.about-text .span-content{
    font-size: 18px;
    font-weight: 600;
    color: var(--main);
    width: 77%;
    line-height: 26px;
}

.about-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 0px;
    gap: 50px;
}

.about-icons i {
    border: 1px;
    background-color: var(--main);
    border-radius: 50%;
    padding: 10px 10px;
}

.about-icon {
    border-left: 2px solid var(--main);
    padding-left: 15px;
}

.about-icons span {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 17px;
}

/* about section end */

/* skills section start */

#skills{
    background-color: var(--color-1);
    height: 830px;
}

.skills-title {
    padding-top: 50px;
}

.skills-items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns:repeat(3, 1fr) ;
    gap: 30px;
}

.skills-items h2 {
    color: var(--black);
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.skills-progress {
    font-size: 30px;
    font-weight: 700;
    border: 5px solid var(--section-2);
    border-radius: 50%;
    padding: 46px 35px;
}

.skills-item {
    box-shadow: 0px 1px 10px 1px rgba(124,99,99,0.81);
-webkit-box-shadow: 0px 1px 10px 1px rgba(124,99,99,0.81);
-moz-box-shadow: 0px 1px 10px 1px rgba(124,99,99,0.81);
    padding: 30px;
    border-radius: 10px;
}

.skills-title p {
    padding-bottom: 50px;
}

/* skills section end */

/* services section start */

#services {
    padding: 120px 0px;
}

.services-items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.services-title p {
    padding-bottom: 90px;
}

.services-item {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.services-item i {
    position: absolute  ;
    top: -50px;
    left: 15px;
    border-radius: 50%;
    padding: 28px;
    background: var(--section-2);
    color: var(--white);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: all .3s ease;
}

.services-item .text {
    padding: 45px 18px;
}

.services-item h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}

.services-item p {
    color: var(--section-1);
    padding-right: 35px;
    font-size: 19px;
}

.services-item:hover {
    background: var(--section-2);
    color: var(--white);
}

.services-item:hover p {
    color: var(--white);
}

.services-item:hover i {
    background: var(--white);
    color: var(--section-2);
    left: 30px;
}

/* services section end */

/* contact section start */

#contact {
    background: #b1b493;
}

.contact-contents {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contact-text h2 {
    color: var(--white);
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 10px;
}

.contact-text {
    padding: 30px 0px;
}

.contact-text p {
    padding-bottom: 15px;
    color: var(--white);
    line-height: 25px;
    font-size: 20px;
    padding-right: 5%;
    letter-spacing: 1px;
}

.contact-text button{
    background: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--section-2);
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    width: 15%;
    cursor: pointer;
}

.contact-text button:hover {
    color: var(--white);
    background: transparent;
}

.contact-picture img {
    background-size: cover;
    height: 290px;
    position: absolute;
    bottom: 0px;
}

.contact-picture {
    position: relative;
}

/* contact section end */

/* project section start */

#projects {
    padding: 70px 20px;
}

.projects-items {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px 0px;
}

.projects-item img {
    width: 355px;
    height: 300px;
    border-radius: 5px;
    background-size: cover;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

/* project section end */

/* testimonials section start */

#testimonials {
    background: var(--section-2);
}

.testimonials-title {
    color: var(--white);
}

.testimonials-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 50px 0px;
}

.testimonials-item {
    background: var(--white);
    border-radius: 5px;
    padding: 35px 20px;
    width:365px;
    height: 330px;
}

.testimonials-content .text {
    padding-bottom: 15px;
}

.testimonials-content .text i {
    font-size: 2em;
    color: var(--section-2);
}

.testimonials-content .text p {
    padding: 0px 20px;
    font-size: 20px;
    line-height: 28px;
    color: var(--section-1);
}

.client-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.client-info {
    line-height: 25px;
}

.client-info span {
    color: var(--section-1);
}

.clients {
    padding-top: 30px;
}

/* testimonials section end */

/* blogs section start */

#blogs {
    background: var(--color-1);
    padding: 90px 0px;
}

.blog-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 50px 0px;
}

.blog-item {
    padding: 0px 20px;
}

.blog-item img {
    width: 356px;
    height: 310px;
}

.blog-text {
    padding: 10px 0px;
}

.blog-text span {
    color: var(--section-2);
    font-size: 12px;
    letter-spacing: 2px;
}

.blog-text h3 {
    font-size: 20px;
    padding: 15px 0px;
}

.blog-text p {
    font-size: 19px;
    line-height: 1.5;
    padding-right: 30px;
    color: var(--section-1);
}

/* blogs section end */

/* forms section start */

#forms {
    padding: 90px 0px;
}

.form-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 50px 0px;
}

.form-main {
    padding: 70px 30px;
    background: var(--color-1);
    width: 600px;
    height: 100%;
}

.form-main input {
    width: 100%;
    height: 30px;
    border: 1px solid var(--section-2);
}

.form-main .name-input {
    width: 95%;
}

.form-contact-item {
    display: flex;
    padding: 32px 12px;
}

.form-contact-item i{
    border: 1px;
    background-color: var(--main);
    border-radius: 50%;
    padding: 15px 16px;
    color: var(--white);
}

.form-contact-text {
    padding-left: 20px;
    line-height: 1.5;
}

.form-contact-text p {
    color: var(--section-2);
}

.form-contact-text span {
    font-weight: 600;
}

.send {
    background: var(--section-2);
    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    width: 25%;
    cursor: pointer;
    margin-top: 27px;
}

/* forms section end */

/* footer section start */

#footer {
    background: var(--footer);
    padding: 7em 0;
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
} 

.footer-item {
    color: var(--section-1);
}

.footer-item h2 {
    color: var(--white);
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
}

.footer-item p {
    padding-bottom: 25px;
    color: var(--section-1);
    line-height: 1.5;
    padding-right: 45px;
    font-size: 18px;
}

.footer-item button {
    background: var(--main);
    border: 1px solid var(--main);
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-item button a {
    color: var(--white);
}

.footer-item a {
    color: var(--section-1);
}

.footer-item i {
    margin-right: 10px;
}

.footer-item li {
    font-size: 18px;
    line-height: 1.5;
}

.social-icons {
    padding-top: 15px;
}

.social-icons i {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 9px 11px;;
}


.copyRight {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

/* footer section end */