/* header section start */

#header {
    background-image: url(../img/header-slider-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.name-logo img {
    width: 205px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu li {
    padding-right: 15px;
}

.menu a {
    text-decoration: none;
    font-size: 14px;
/*     padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 20px;
    padding-right: 20px; */
    color: #000000;
    font-weight: 600;
   /*  color: #b1b493; */
    text-transform: uppercase;
}

/* header section end */